* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url('../src/Source/Fonts/OpenSans_Condensed-Bold.ttf');
}

body::-webkit-scrollbar{
  display: none;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  color: white;
  background-image: url('../public/img/Rectangle 3 (2).png');
  font-family: Open Sans Condensed;
  font-weight: 100;
}

.head_left {
  background: rgba(51, 51, 51, 0.75) !important;
}

.rotate {
  transform: rotate(-90deg);
}
