* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url('../src/Fonts/OpenSans_Condensed-Regular.ttf');
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  height: 1045px;
  display: flex;
  overflow: hidden !important;
  color: white;
  background-image: url('../public/img/Rectangle 3 (2).png');
  font-family: Open Sans Condensed;
  font-weight: 100;
  background-repeat: no-repeat;
  position: relative;
}

.head_left {
  background: rgba(51, 51, 51, 0.75) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.rotate {
  transform: rotate(-90deg);
}


.Main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  background-color: #333333;
}

.bg {
  background-image: url('../public/img/Rectangle 15.png');
  object-fit: cover;
}

.bg2 {
  background-image: url('../public/img/Rectangle 16.png');
  object-fit: cover;
}

.bg3 {
  background-image: url('../public/img/Rectangle 15 (1).png');
  object-fit: cover;
}

.bg4 {
  background-image: url('../public/img/Rectangle 15 (2).png');
  object-fit: cover;
}

.rating {
  background-image: url('../public/img/Rectangle 28.png');
  object-fit: cover;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  background-color: #333333;
}

